.react-datepicker {
    font-family: inherit !important;
    border: 1px solid #e7ebf5 !important;
}

.react-datepicker__header {
    background-color: $background  !important;
    border-bottom: 1px solid #e7ebf5 !important;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before {
    border-bottom-color: #e7ebf5 !important;
}

.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::before,
.react-datepicker-popper[data-placement^=bottom] .react-datepicker__triangle::after {
    border-bottom-color: $background  !important;
}

.react-datepicker__day--selected,
.react-datepicker__day--in-selecting-range,
.react-datepicker__day--in-range,
.react-datepicker__month-text--selected,
.react-datepicker__month-text--in-selecting-range,
.react-datepicker__month-text--in-range,
.react-datepicker__quarter-text--selected,
.react-datepicker__quarter-text--in-selecting-range,
.react-datepicker__quarter-text--in-range,
.react-datepicker__year-text--selected,
.react-datepicker__year-text--in-selecting-range,
.react-datepicker__year-text--in-range {
    background-color: var(--primary-bg-color) !important;
}

.react-datepicker__month .react-datepicker__month-text,
.react-datepicker__month .react-datepicker__quarter-text,
.react-datepicker__year .react-datepicker__year-text {
    margin: 10px !important;
}

.react-datepicker__year-wrapper {
    max-width: 300px !important;
}

.react-datepicker__day--keyboard-selected,
.react-datepicker__month-text--keyboard-selected,
.react-datepicker__quarter-text--keyboard-selected,
.react-datepicker__year-text--keyboard-selected {
    background-color: var(--primary-bg-color) !important;
}

.react-datepicker-popper[data-placement^=top] .react-datepicker__triangle::before {
    border-top-color: #e7ebf5 !important;
}

.react-datepicker__navigation--previous,
.react-datepicker__navigation--next {
    top: 8px
}
.react-tel-input {
    width: fit-content !important;
}
.react-datepicker__navigation {
    top: 9px !important;
}

.react-tel-input .form-control {
    height: 40px !important;
    width: 200px !important;
    border-radius: 3px 0 0 3px;
    border: 1px solid $border  !important;
}
.react-tel-input .form-control {
    padding-inline-start: 48px !important;
    margin-inline-start: 0 !important;
}

.react-tel-input .country-list .country.highlight {
    background-color: $background  !important;
    border-color: #e7ebf5 !important;
    margin: 0;
    border-radius: 0 !important;
}

.react-tel-input .flag-dropdown {
    border: 1px solid $border  !important;
    background-color: $background  !important;
}

.react-tel-input .flag {
    background-size: auto !important;
}

.react-tel-input .country-list .country:hover {
    background-color: $background  !important;
}

.basicsteps .btn.active {
    background-color: $primary;
    color: #fff;
}

.Stepperh3 .step3.active {
    background-color: $primary;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 2;
    color: #fff;
}

.Stepperh3 .step2 {
    background-color: $background;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    line-height: 2;
    color: #031b4e;
}

.Stepperh3 .title {
    margin-top: auto;
    margin-bottom: auto;
}

.sun-editor {
    border: 1px solid $border;
}

.sun-editor .se-toolbar {
    outline: none;
    background: $white;
    z-index: 0;
}

.sun-editor .se-btn-module-border {
    border: 1px solid $border;
}

.sun-editor .se-resizing-bar {
    background: $white;
    border-top: 1px solid $border;
}

.sun-editor .se-btn:enabled.active:focus,
.sun-editor .se-btn:enabled.active:hover,
.sun-editor .se-btn:enabled:focus,
.sun-editor .se-btn:enabled:hover {
    background-color: $background;
    border-color: $border;
}

.sun-editor .se-btn:enabled.active {
    color: $primary;
}

.RichTextEditor__root___2QXK- {
    border: 1px solid $border  !important;
}
.sun-editor .se-btn {
    font-size: 16px;
}

.filepond--credits {
    display: none;
}
.file-upload2 {
    border: 2px dashed #eae8f1;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 20px;
    height: 250px;
    margin-bottom: 20px;
    padding: 17px;
    text-align: center;
}
.thumb {
    display: inline-flex ;
    width: 100px;
    height: 90px;
    justify-content: center;
    align-items: center;
    border: 1px solid #f2f2f2;
}
.purchase {
    display: inline-block;
    margin-inline-start: 21px;
}