.horizontal .hor-scroll {
    position: static !important;

    >div {
        position: static !important;
    }
}
@media (min-width: 991.95px) {
    .horizontal {
        .jumps-prevent {
            padding-top: 0px !important;
        }
    }
}
.rangeslider-horizontal .rangeslider__handle:after {
    display: none;
}

.horizontal .hor-scroll {
    overflow: scroll !important;
}

@media (max-width: 991.98px) {
    .horizontal .hor-scroll {
        position: relative !important;
        overflow: scroll !important;

        >div {
            position: relative !important;

            &:last-child {
                position: absolute !important;
            }
        }
    }
}

@media screen and (min-width: 992px) {
    .horizontal .hor-scroll {
        position: static !important;

        >div {
            position: static !important;

            &:last-child {
                position: absolute !important;
            }
        }
    }
}


.horizontal .hor-scroll {
    overflow: hidden scroll !important;
}

@media (max-width: 991px) {
    body.rtl.horizontal.sidenav-toggled .app-sidebar.horizontal-main {
        left: auto;
        right: 0;
    }
}


.app.horizontal {
    .horizontal-content {
        min-height: calc(100vh - 50px);
    }
}
